<header>
  <div class="header-left">
    <%= link_to "十八番ストッカー(仮)", "/", class: "header-logo" %>
  </div>
  <div class="header-right">
    <div class="header-right-item">
    <% if user_signed_in? %>
      <%= link_to "マイページ", "/", class: "header-content" %>
      <%= link_to "設定", edit_user_registration_path, class: "header-content" %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-content" %>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav class="globalMenuSp">
        <ul>
          <li><%= link_to "マイページ", "/", class: "header-content" %></li>
          <li><%= link_to "設定", edit_user_registration_path, class: "header-content" %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-content" %></li>
        </ul>
      </nav>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: "btn login-btn" %>
      <%= link_to "登録する", new_user_registration_path, class: "btn sign-up-btn" %>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav class="globalMenuSp">
        <ul>
          <li><%= link_to "ログイン", new_user_session_path, class: "header-content" %></li>
          <li><%= link_to "登録する", new_user_registration_path, class: "header-content" %></li>
        </ul>
      </nav>
    <% end %>
    </div>
  </div>
</header>
